@import "../node_modules/zurb-foundation-5/scss/foundation/components/global";

/**
 * Common files for Refugeedata project
 */

img {
    image-orientation: from-image;
}

#person_details {
    width: 100%;

    td.photo {
        text-align: center;
    }
}

.template-src {
    white-space: pre-wrap;

    .variable {
        color: $alert-color;
    }
}

.dropzone {
    margin: 0 0 1rem;
}
