pip==8.0.2
ansicolors==1.0.2
boto==2.38.0
configparser==3.5.0b2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-appconf==1.0.1
django-compressor==1.5
django-grappelli==2.7.1
django-gulp==2.0.0
django-languages==0.1
django-sslify==0.2.7
django-storages==1.1.8
django-toolbelt==0.0.1
django-uuidfield==0.5.0
env-tools==2.0.0
foundationform==0.2
futures==2.2.0
gunicorn==19.3.0
ipdb==0.8
ipython==3.1.0
model-mommy==1.2.4
Pillow==2.8.1
psutil==2.2.1
psycopg2==2.6
pyratemp==0.3.2
raven==5.0.0
reportlab==3.2.0
six==1.9.0
static3==0.5.1
tini==3.0.1
z3c.rml==3.0.0
