{% extends "registration/base.html" %}

{% load i18n %}
{% load foundation %}
{% load staticfiles %}

{% block extra_js %}
<script src="{% static "js/bundle.js" %}"></script>
{% endblock %}

{% block content %}
<form method="post" id="mainForm">
{% csrf_token %}
{{ form|foundation }}
</form>

{% if not form.instance.id %}
<form method="post" class="dropzone" id="reg-image-uploader" action="{% url "reg:image_upload" %}"></form>
{% endif %}
<input class="button small" type="submit" value="{% trans "Save" %}" form="mainForm" />
{% endblock %}
