{% extends "distribution/base.html" %}

{% load i18n %}
{% load foundation %}

{% block content %}
<div id="person_details">
    <h2>{{ person.name }}</h2>
    {# TODO allow user to take a photo here #}
    {% if person.photo %}
    <img src="{{ person.photo.url }}" alt="{{ person.name }}" />
    {% else %}
    <p>{% blocktrans %}{{ person.name }} has no photo!{% endblocktrans %}</p>
    {% endif %}
    {% if person.needs %}
    <h4>{% trans "Needs" %}:</h4>
    <p>{{ person.needs }}</p>
    {% endif %}
</div>

{% if has_attended %}
<h4 class="warning">{% blocktrans %}This person has already received aid in this distribution.{% endblocktrans %}</h4>
{% else %}
{% if not is_invited %}
<h4 class="warning">{% blocktrans %}This person is not on the invitation list for this distribution.{% endblocktrans %}</h4>
{% endif %}
<form method="post"{% if not person.photo %} enctype="multipart/form-data"{% endif %}>
{% csrf_token %}
{% if not person.photo %}
<input type="hidden" name="photo_included" value="true" />
{{ photo_form|foundation }}
{% endif %}
<input type="submit" class="button small" value="{% trans "Proceed" %}" {% if not is_invited %}onclick="return confirm('{% trans "Are you sure?" %}')"{% endif %}/>
</form>
{% endif %}
{% endblock %}
