{% extends "distribution/base.html" %}

{% load i18n %}
{% load foundation %}

{% block content %}
<h2>{% trans "Attendee Details" %}</h2>
{% include "inc/person_details.html" with person=person %}

{% if has_attended %}
<h4 class="warning">{% blocktrans %}This person has already received aid in this distribution.{% endblocktrans %}</h4>
{% else %}
{% if not is_invited %}
<h4 class="warning">{% blocktrans %}This person is not on the invitation list for this distribution.{% endblocktrans %}</h4>
{% endif %}
<form method="post"{% if not person.photo %} enctype="multipart/form-data"{% endif %}>
{% csrf_token %}
{% if not person.photo %}
<input type="hidden" name="photo_included" value="true" />
{{ photo_form|foundation }}
{% endif %}
<input type="submit" class="button small" value="{% trans "Proceed" %}" {% if not is_invited %}onclick="return confirm('{% trans "Are you sure?" %}')"{% endif %}/>
{% if perms.refugeedata.change_person %}
<div class="right">
    <a href="{% url "reg:edit" person.id %}?next={{ request.path }}" class="button small">{% trans "Edit Details" %}</a>
</div>
{% endif %}
</form>
{% endif %}
{% endblock %}
