{% extends "distribution/home_base.html" %}

{% load i18n %}

{% block form %}
<ul class="button-group">
    <li><button type="button" onclick="alert('{{ distribution.hash }}')">{% trans "Show Password" %}</button></li>
    {% if user.is_superuser %}
    <li><a class="button" href="{% url "dist:templates" distribution.id %}">{% trans "Show Email/SMS Templates" %}</a></li>
    {% endif %}
</ul>

<h2>{% trans "Attendees:" %}</h2>
<ul>
{% for attendee in distribution.invitees.all %}
<li><a href="{% url "dist:attendee" distribution.id attendee.number attendee.short_id %}">{{ attendee.number }}: {{ attendee.person.name }}</a>{% if attendee in distribution.attendees.all %} ({% trans "attended" %}){% endif %}</li>
{% endfor %}
</ul>
{% endblock %}
