{% extends "distribution/home_base.html" %}

{% load i18n %}
{% load template_variables %}
{% load distribution %}

{% block form %}
<h2>{% trans "Fields" %}</h2>
{% for variable in template_variables %}
{% variable_name_to_form variable %}
{% empty %}
<p>{% trans "These templates have no fields." %}</p>
{% endfor %}
<h2>{% trans "Email templates" %}</h2>
{% for template in email_templates %}
<p>{% trans "Language:" %} {{ template.language.description }}</p>
<pre class="template-src">{{ template.text|highlight_variables:distribution|add_keys_from_session:request.session|with_locale:template.language.iso_code|safe }}</pre>
{% if template.get_invitees %}
<p>{% trans "Send:" %} <a href="{% url "dist:send_email" distribution.id template.id %}?to_everyone">{% trans "to everyone" %}</a>{% if distribution|has_recipients_for:template %} | <a href="{% url "dist:send_email" distribution.id template.id %}">{% trans "only to recipients" %}</a>{% endif %}</p>
{% else %}
<p>{% trans "No recipients found" %}</p>
{% endif %}
{% empty %}
<p>{% trans "No email templates found" %}</p>
{% endfor %}

<h2>{% trans "SMS templates" %}</h2>
{% for template in sms_templates %}
<p>{% trans "Language:" %} {{ template.language.description }}</p>
<pre class="template-src">{{ template.text|highlight_variables:distribution|add_keys_from_session:request.session|with_locale:template.language.iso_code|safe }}</pre>
{% if template.get_invitees %}
<p>{% trans "Send:" %} <a href="{% url "dist:send_sms" distribution.id template.id %}?to_everyone">{% trans "to everyone" %}</a>{% if distribution|has_recipients_for:template %} | <a href="{% url "dist:send_sms" distribution.id template.id %}">{% trans "only to recipients" %}</a>{% endif %}</p>
{% else %}
<p>{% trans "No recipients found" %}</p>
{% endif %}
{% empty %}
<p>{% trans "No SMS templates found" %}</p>
{% endfor %}
{% endblock %}
