{% extends "admin/base_site.html" %}

{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    #face_container>.face{
        display: inline-block;
        width: 200px;
        height: 300px;
        margin: 5px;
    }
    #face_container>.face img {
        max-width: 100%;
        max-height: 200px;
    }
</style>
{% endblock %}

{% block content %}
<div class="grp-module">
    <div class="grp-row" id="face_container">
        {% for person in people %}
        <div class="face">
            <img src="{{ person.photo.url }}" alt="{{ person }}" title="{{ person }}" /><br />
            <strong>ID</strong> {{ person.id }}<br />
            <strong>Name</strong> {{ person.name }}<br />
            <strong>Phone</strong> {{ person.phone }}<br />
        </div>
        {% empty %}
        <p>{% trans "No faces to show" %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
