<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<!DOCTYPE document SYSTEM "rml.dtd">

<document filename="cards.pdf">
    <!--
     For help on the RML format, please see:
        https://www.reportlab.com/docs/rml2pdf-userguide.pdf
        http://www.oscg.com.hk/wp-content/uploads/downloads/rml-reference.pdf
     -->
    <template pageSize="a4">
        <pageTemplate id="front">
            <frame showBoundary="true" x1="0" y1="80%" width="50%" height="20%" />
            <frame showBoundary="true" x1="0" y1="60%" width="50%" height="20%" />
            <frame showBoundary="true" x1="0" y1="40%" width="50%" height="20%" />
            <frame showBoundary="true" x1="0" y1="20%" width="50%" height="20%" />
            <frame showBoundary="true" x1="0" y1="0" width="50%" height="20%" />
            <frame showBoundary="true" x1="50%" y1="80%" width="50%" height="20%" />
            <frame showBoundary="true" x1="50%" y1="60%" width="50%" height="20%" />
            <frame showBoundary="true" x1="50%" y1="40%" width="50%" height="20%" />
            <frame showBoundary="true" x1="50%" y1="20%" width="50%" height="20%" />
            <frame showBoundary="true" x1="50%" y1="0" width="50%" height="20%" />
        </pageTemplate>
        <pageTemplate id="back">
            <frame x1="0" y1="80%" width="50%" height="20%" topPadding="60" />
            <frame x1="0" y1="60%" width="50%" height="20%" topPadding="60" />
            <frame x1="0" y1="40%" width="50%" height="20%" topPadding="60" />
            <frame x1="0" y1="20%" width="50%" height="20%" topPadding="60" />
            <frame x1="0" y1="0" width="50%" height="20%" topPadding="60" />
            <frame x1="50%" y1="80%" width="50%" height="20%" topPadding="60" />
            <frame x1="50%" y1="60%" width="50%" height="20%" topPadding="60" />
            <frame x1="50%" y1="40%" width="50%" height="20%" topPadding="60" />
            <frame x1="50%" y1="20%" width="50%" height="20%" topPadding="60" />
            <frame x1="50%" y1="0" width="50%" height="20%" topPadding="60" />
        </pageTemplate>
    </template>

    <stylesheet>
        <blockTableStyle id="front">
            <blockValign value="middle" />
        </blockTableStyle>
        <paraStyle name="number" fontSize="30" leading="35" alignment="right" />
        <paraStyle name="back" fontSize="15" leading="15" alignment="centre" spaceBefore="15" />
    </stylesheet>

    <story>
        <!-- Here are the fronts of the cards -->
        <setNextTemplate name="front" />
        {% for card in cards %}
        <blockTable style="front">
            <tr>
                <td>
                    <para keepWithNext="true" style="number"><b><u>#{{ "%03d" %(card.number) }}</u></b></para>
                </td>
                <td>
                    <img src="{{ card.qr_code_url }}" />
                </td>
            </tr>
        </blockTable>
        {% endfor %}

        <!-- Here are the backs of the cards -->
        <setNextTemplate name="back" />
        {% for card in cards %}
        <!-- TODO this text should be custom strings -->
        <para keepWithNext="true" style="back">Phone: +90 534 052 39 97</para>
        <para style="back">info@ank-aid.com</para>
        <nextFrame />
        {% endfor %}
    </story>
</document>
